.order {
  min-width: 200px;
  padding: 15px;
  // margin: 20px;

  border: 2px dashed $primary-text-color;
  border-radius: 15px;

  &__title {
    // margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

    color: $primary-text-color;
  }

  &__date {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: $ternary-text-color;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__product {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 8px;
    padding-bottom: 6px;

    border-bottom: 2px dashed $background-color-2;
  }
}
