.profile {
  &__user {
    display: flex;
    gap: 50px;
    /* Arriba | Derecha | Abajo | Izquierda */
    padding: 20px 80px 40px;
    margin: 0 30px;

    border-bottom: 2px solid $ternary-text-color;
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;

    overflow: hidden;

    border-radius: 100%;

    background-color: $background-color;

    input[type="file"] {
      display: none;
    }

    img {
      pointer-events: none;
      height: 100%;
      width: auto;
    }
  }

  &__pic:hover {
    label {
      visibility: visible;
    }
  }

  &__upload {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;

    cursor: pointer;

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;

      border-radius: 100%;
      color: $secondary-text-color;
      background-color: $primary-color;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 5px;

    padding: 20px 0;
  }

  &__name {
    font-size: 32px;
    font-weight: bold;

    color: $primary-text-color;
  }

  &__email {
    font-size: 20px;

    color: $ternary-text-color;
  }

  &__orders {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 30px;
    font-size: 24px;
    color: $ternary-text-color;

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;

      border-radius: 100%;
      color: $secondary-text-color;
      background-color: $primary-color;
    }
  }

  &__orderList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
    padding: 0 20px;
  }
}
