.product {
  width: 240px;
  height: 340px;
  // padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $secondary-text-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;

  &__image {
    width: 100%;
    height: 120px;
    background-color: $primary-text-color;
  }

  &__informationProduct {
    margin: 20px;
    text-align: center;
    align-content: space-between;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  &__description {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $ternary-text-color;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    color: $primary-text-color;
  }

  &__addButton {
    padding: 20px;
    width: 100%;
    color: $secondary-text-color;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
    border-style: none;
    background-color: $primary-color;
    position: absolute;
    bottom: 0px;

    cursor: pointer;
  }
}
