.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;

  border-top: 2px solid $ternary-text-color;

  color: $ternary-text-color;

  &__link {
    font-weight: bold;
    color: $primary-text-color;
  }

  &__highlight {
    font-style: italic;
    font-weight: bold;
    color: $primary-text-color;
  }
}
